.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.custom-dialog-title {
  font-size: 24px;
  color: #11457c;
  margin: 20px 0;
  text-align: center;
}

mat-form-field {
  width: 100%;
}

.error-container {
  margin-bottom: 10px;
}