.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
    line-height: 35px;
}

.wrapper h3 span{
    font-size: 30px;
    color: #3F51B5;
}

.wrapper h5{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 25px;
}

.wrapper .card {
  width: 500px;
  height: 450px; 
  box-sizing: border-box;
  overflow: hidden;
}
