.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .custom-dialog-title {
    font-size: 24px;
    color: #11457c;
    margin: 20px 0;
    text-align: center;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .percentage-input {
    width: 50px;
    text-align: right;
  }
  
  .percentage-symbol::after {
    content: '%';
    margin-left: 5px;
  }
  
  .percentage-input-container {
    display: flex;
    align-items: center;
  }
  
  .percentage-symbol {
    margin-left: 5px; /* Adjust the margin as needed */
  }

  .fileInput{
    label{
      display: block;
      font-size: 16px;
      font-weight: 500;
      margin: 20px 0px;
    }
    input{
      margin-bottom: 30px;
    }
  }